.mapContainer {
  height: calc(100svh - 4rem);
  width: 50svw;
  margin: 2rem;
}

.roadtripPanelContainer {
  height: calc(100svh - 2rem);
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: scroll;
}

.roadtripPanel {
  width: calc(50svw - 10rem);
  margin: 0 2rem 2rem;
  padding: 1rem 2rem;
  background-color: antiquewhite;
  cursor: pointer;
}

.selectedRoadtripPanel {
  background-color: palegreen;
}
