.container {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: white;
  width: 25rem;
  display: grid;
  padding: 1rem;
  height: calc(100svh - 30rem);
  overflow: scroll;
}

.label {
  text-transform: capitalize;
  margin-left: 2rem;
}

.settings-container {
  display: grid;
}

.settings-item-summary {
  margin-bottom: 0.5rem;
}

.settings-child-item-summary {
  margin-top: 0.5rem;
  margin-left: 1rem;
}
