.map-page-container {
  display: flex;
  width: 100svw;
  height: 100svh;
  position: relative;
  overflow: scroll;
}

.map-background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100svw;
  height: 100svh;
  z-index: 1;
}

.map-page-header {
  z-index: 10;
  height: 75px;
  color: #ffffffde;
  width: 100svw;
}

.map-container {
  width: 750px;
  height: 845px;
  position: fixed;
  top: max(0px, calc((100svh - 845px) / 2));
  left: max(0px, calc((100svw - 1225px) / 2));
}

.disclaimer {
  width: 400px;
  position: absolute;
  right: 50px;
  bottom: 50px;
  font-size: 15px;
  z-index: 9;
  color: #ffffffde;
  text-align: justify;
}

.wikipedia-external-link {
  color: white;
}

.get-location-button {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 20px;
  z-index: 9;
}

@media (max-width: 1060px) {
  .disclaimer {
    display: none;
  }
}

@media (max-width: 750px) {
  .map-container {
    width: calc(100svw - 20px);
    height: calc(100svh - 20px);
    left: 10px;
    top: 75px;
  }
}
