:root {
  --blacktext: #242424;
  --tanbackground: #fcf5e5;
  --tanborder: #ebd5b3;
  background-color: var(--blacktext);
}

html,
body {
  background-color: var(--blacktext);
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none;
  touch-action: pan-down;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  background-color: var(--tanbackground);
  border-color: var(--tanborder);
  color: var(--blacktext);
  border-radius: 5px;
  padding: 5px;
}
