.information-panel {
  position: fixed;
  right: 0;
  padding: 25px;
  margin: 25px;
  background-color: var(--tanbackground);
  border-radius: 10px;
  height: calc(100svh - 100px);
  width: 400px;
  color: var(--blacktext);
  z-index: 10;
}

.pills-container {
  display: flex;
  flex-wrap: wrap;
  z-index: 12;
}

.county-image {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

@media (max-width: 750px) {
  .information-panel {
    bottom: 0;
    left: 0;
    right: 0;
    margin: unset;
    width: calc(100svw);
    padding: unset;
    border-radius: unset;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: height 0.1s ease;
    overflow: hidden;
  }

  .information-panel-header {
    height: 100px;
    z-index: 110;
    position: absolute;
  }

  .information-panel-header-tab {
    width: 50px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--tanborder);
    position: absolute;
    right: calc(50svw - 25px);
    top: 10px;
  }

  .information-panel-content {
    padding: 20px;
    position: absolute;
    top: 0px;
    width: calc(100svw - 40px);
    height: calc(100svh - 100px);
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: none;
  }

  .county-image {
    position: relative;
    margin-top: 20px;
  }
}
