.container {
  position: absolute;
  width: 23rem;
  height: 41rem;
  background-color: aliceblue;
  top: calc((100svh - 45rem) / 2);
  right: calc((100svh - 45rem) / 2);
  padding: 2rem;
}

.field {
  text-transform: capitalize;
}
